@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1617340400545'); /* IE9 */
  src: url('iconfont.eot?t=1617340400545#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABngAAAJzAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIEMATYCJAMICwYABCAFhG0HLxuxBcgekiSBShVSUUiiMghcQjw8zaHvXy5FUgAoATWgqm1VOzASSE0oIDtZsDNimo3I/621Qcz/u4ui7RJmSfPanxWfHdSaJo/eSOGOTPJOg0x9wRtwOf0J9CCjDii3PWmsyWMCBpYGuBdGAQVaQhk3jF3gEu4TaNAvqmBvdHqOlMusZYG41lWRlOfCssxydUJNzd4s3irVpWcpjzfh9+O/5SgnKQtWw+HViEL6f7XZBcVOtePCJ0QI6HCJArOITJzWpvcVCcYVaUgXG0b2VRv8aqsq3yX2ahfsr7Oqm0AvVNyT0lXdanUCOR6fQCyMeh9SW9t67cf7zqKbh6q6F3cdhZe3S++f2guvvlTVvPjWVbTbI0iRqnn5vDKTFOlZqOK1LtxJO8Plr/Wh0Sbvv5aWVe2/7eHByonEd0VudSp/m3KLJdnCPyueFn4XCN5t3b+pW/srb8zg59GP0Jb181K3Z0/wh5Q9+7Kutpwpq8pabzIxamlCgwZUsL/D+1hL9+3kQ53um/LW6ktRqDNKZnYWpUarqFFnEw1mjB1u1IkpErke0w4BQptnJC0eUGjzQmb2DaUeP6jRFkVocB6dZzYaD71yl6HIUQFpFXTZdajj5pVR7Qyqi5bIsuqQX0AW6DFIxZPF3Bg6yObYECypac4pUObaMAoeQ8tywWOugTKPa5x72USC1r0oLrs2qbSLQSIOKYBkFdDJXA7qj+YqS5+fgVSLLCLW0lSTXYCYgD45SIlL9iDHDE6vpnt5JrBElcZxFKAYlw2MglnIYnEBr36WAcm4OG1E0pOVsIfRvob4+ib7A8pZG5Y1hT2lUF7aom4RAgA=') format('woff2'),
  url('iconfont.woff?t=1617340400545') format('woff'),
  url('iconfont.ttf?t=1617340400545') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1617340400545#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e617";
}

